$desktop: 1300px;
$desktop-min: 1301px;

$tablet-max: 1024px;
$tablet-min: 1025px;

$smallTablet-max: 768px;
$smallTablet-min: 769px;

$mobile-max: 576px;
$mobile-min: 577px;

$smallMobile-max: 480px;
$smallMobile-min: 481px;

// ============================================================

:root {
    // settings
    --min-width: 320px;

    --content-width: 1200px;
    --container-padding: 15px;
    --container-width: calc(var(--content-width) + (var(--container-padding) * 2));

    // font
    --font-family: "fontFamily";
    --default-fz: 14px;

    // color main
    --page-bg: #fff;
	--text-color: #000;

    // color other
    --black: #000;
    --white: #fff;
    --red: #e01717;
    --blue: #2b67e9;
}

// ============================================================

$transitionSpeed: 0.3s;
$transitionSpeedFast: 0.12s;
$transitionFunction: ease-in-out;


// ============================================================

.dark-theme {
    --page-bg: #252526;
    --text-color: #fff;
}